[Desktop Entry]
Type=Application
Name=Hotspot Monitor
Comment=View hotspot data usage and speed
Exec=hotspot-gui
Icon=Icon=image
Terminal=false
Categories=Network;Utility;
